body
{
    margin: 0;
    padding: 0;
    background-color: rgb(146, 221, 250);
}

header
{
    background-color: rgb(247, 34, 34);
color: white;
padding: 30px 20px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.top header
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}
.logo
{
    height: 50px;
    width: auto;
    border-radius:50px ;
}
.top header h1
{
    font size:28px ;
    letter-spacing: 10px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

nav{
    font size: 16px;
}

nav a
{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover 
{
    color: yellow;
    text-decoration: underline;
}

.content
{
max-width: 800px;
width: 100%;
margin: 30px auto;
background-color: rgb(40, 150, 194);
padding: 25px;
border-radius: 8px;
box-shadow: 0 0 15px;
}

.Images
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;


}

.Images img
{
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

footer
{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 12px 20px;

}

footer h2
{
    color: white;
    margin: 8px 5px;
    font-size: 18px;
}

.sicon
{
    margin: 0 10px;
    color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
}